<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">
  <%= render :partial => 'layouts/error_messages' %>

  <div class="row">
    <div class="col-sm-2 ">
    </div><!--end column -->

   <div class="col-sm-8 ">
     <h2> Here are all of the Comments </h2>
     <%= render 'all_comments', comment: @comment, user:@current_user, pairing: @pairing %>
   </div><!--end column -->

   <div class="col-sm-2 ">
   </div><!--end column -->

 </div> <!--end row --><br><br><br><br><br><br><br><br>
</div><!--end container -->
