<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">
  <div class="row">
    <div class="col-sm-3 ">
    </div><!--end column -->

   <div class="col-sm-3 ">
     <h2> Here is the comment </h2>
     <%=@comment.body%><br>
     <%= delete(@comment)%> <br>
     <%= edit_with_parent(@current_user,@comment)%> <br>
   </div><!--end column -->

   <div class="col-sm-3 ">
   </div><!--end column -->

 </div> <!--end row -->
</div><!--end container -->
