<h2>
  User Name: <%=@user.user_name%>
  <% if user_current_user? || user_admin? %>
    <%= link_to '(Edit Profile)', edit_user_path(@user)%><br>
  <% end %>
  <h2>

   <% if @user.pairings.empty? && @user == @current_user %>
      <h3>
        You Don't have any Pairings
        <%= link_to "Create a Pairing", new_pairing_url%>
      </h3>
   <% else %>
     <%= link_to "Wine Pairings for #{@user.user_name}", user_pairings_url(@user) %>
   <%end%>
