
<%= render 'navbar' %>

<div class="container-fluid main_body_style" style="background:transparent url('assets/spicy-gingerbread-cookies.jpg') no-repeat center center /cover; height:960px;">
  <div class="row">
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-8 text-white">
     <h2 > Sign Up </h2>
     <%= render 'form', user: @user %>
   </div><!--end column -->

   <div class="col-sm-3 ">
   </div><!--end column -->

 </div> <!--end row -->
</div><!--end container -->
