
<%= render 'navbar' %>

<div class="container-fluid main_body_style">
  <div class="row">
    <div class="col-sm-3 ">
    </div><!--end column -->

   <div class="col-sm-3 ">
     <h2> Sign Up </h2>
     <%= render 'form', user: @user %>
   </div><!--end column -->

   <div class="col-sm-3 ">
   </div><!--end column -->

 </div> <!--end row -->
</div><!--end container -->
