<!-- EITHER SHOWS LIST OF ALL COOKIES, OR SHOW A LIST OF THE USER'S COOKIES -->
<ul>
  <%@cookies.each do |cookie| %>
    <li>
      <%if @user%>
        <%= link_to cookie.cookie_name, user_cooky_url(user,cookie)%>
      <%else%>
        <%= link_to cookie.cookie_name, cooky_url(cookie)%>
      <%end%>
    </li>
  <%end%>
</ul>
