<h2> Here is some information about this Cookie: </h2><br>
<h3>
 Cookie Name: <%= @cookie.cookie_name.titlecase %><br>
 Description: <%= @cookie.description.titlecase %><br>
 Cookie Recipe: <%=link_to @cookie.link, @cookie.link, :target => "_blank"%> <br>
