<%= render :partial => 'layouts/navbar' %>

<h3> Here are all of the cookies </h3>
Click the cookie to see what wines it pairs with

<%= render 'all_cookies', cookie: @cookie %>

<%= link_to 'Home', home_url%>
