<h2> Here is your Cookie </h2>

<h3> <%= @cookie.cookie_name %> </h3>
<h3> <%= @cookie.description %> </h3>
<h3> Here is the recipe: <%=link_to @cookie.link, @cookie.link %>

  <h3> Create Another Cookie </h3>

  <h3> Here is a link to all of the cookies </h3>

  <%= link_to 'all cookies', cookies_path(@cookies)%>
