<a href="../users/{{userId}}/pairings/{{id}}/edit" class="btn btn-warning">Edit Pairing</a>
<a data-confirm="Really?!" class="btn btn-danger" rel="nofollow" data-method="delete" href="../pairings/{{id}}">Delete Pairing</a><br><br><br> 
