
<div id="prev-next-btns">
  <button name="button" type="submit" id="previous" data="1">Previous Pairing</button>
  <button name="button" type="submit" id="next" data="1">Next Pairing</button>
</div>
