<form id="sort-form" action="/sort" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="AiOdTCMAUgKV4ZbowJgS+9CD/YyAVQt/5aMUojSskzBu1pGjvm0+fCpLAd8xxmJc/MnylmqGK3SJdv/46JI7/Q==">

  <select name="sort" id="sort"><option value="Choose a Sort Type">Choose a Sort Type</option>
  <option value="highest rated">highest rated</option>
  <option value="lowest rated">lowest rated</option>
  <option value="most commented">most commented</option>
  <option value="newest">newest</option>
  <option value="oldest">oldest</option></select>

  <input type="submit" name="commit" value="Sort" data-disable-with="Sort">
</form>
