<h3>
  <%=link_to @pairing.wine.wine_name.titlecase, wine_url(@pairing.wine) %> is paired with <%= link_to @pairing.cookie.cookie_name.titlecase, cooky_url(@pairing.cookie)%>.<br></h3>
  <div><h2>------------------------------------------</h2></div>
<h3>
  Creator: <%= link_to "#{@pairing.user.user_name}", user_url(@pairing.user)%>
</h3>
