<h5>
  <ul>
  <%@pairing.comments.each do |comment|%>
    <li>
      <%=comment.body%>
      <%=link_to edit_pairing_comment_path(@pairing)%>
      <!-- /pairings/:pairing_id/comments/:id/edit -->
        <%=edit(comment)%>
        <%=delete(comment)%>
    </li>

  <%end%>
  </ul>
</h5>
