<h5>
  <ul>
  <%@pairing.comments.each do |comment|%>
    <li class="w-1 p-1">
      <%=comment.body%>
      <%=edit_with_parent(@pairing,comment)%>
      <%=delete(comment)%>
    </li>

  <%end%>
  </ul>
</h5>
