<%= render :partial => 'layouts/navbar' %>
<div class="container-fluid main_body_style">
  <div class="row">
    <div class="col-sm-1 ">
    </div><!--end column -->

   <div class="col-sm-10 ">
     <h3> Here are all of the pairings </h3>
     <%= render 'sort'%>
     <%= render 'all_pairings', pairing: @pairing %>
   </div><!--end column -->

   <div class="col-sm-1 ">
   </div><!--end column -->

 </div> <!--end row -->
</div><!--end container -->
