
<h3> Here are all of <%=@user.user_name.titlecase if @user %> Wines</h3>

<h3>Click the wine to see what cookies it pairs with</h3>

<ul>
  <%@wines.each do |wine| %>
    <li>
      <%if @user %>
        <%=link_to wine.wine_name, user_wine_path(user,wine)%>
      <%else%>
        <%=link_to wine.wine_name, wine_path(wine)%>
      <%end%>
    </li>
  <%end%>
</ul>
