<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">

  <%= render :partial => 'layouts/error_messages' %>

  <div class="row">
    <div class="col-sm-2 ">
    </div><!--end column -->

   <div class="col-sm-8 ">
     <% if @user %>
       <h3> Here are all of <%=@user.user_name.titlecase%> Wines</h3>
     <% else %>
       <h3> Here are all of the Wines</h3>
     <% end %>
     Click the wine to see what cookies it pairs with

     <%= render 'all_wines', wines: @wines, user: @user %>
   </div><!--end column -->

   <div class="col-sm-2 ">
   </div><!--end column -->

 </div> <!--end row -->
</div><!--end container -->
