<h3> Here are all of the wines </h3>

  <h3> Sort/Search Pairings <h3>

<ul>
  <%@wines.each do |wine| %>
    <li>
      <%=link_to wine.wine_name, wine_path(wine)%>
    </li>
  <%end%>
</ul>

<%= link_to 'Home', home_url%>
