<%= render :partial => 'layouts/navbar' %>

<h3> Here are all of the wines </h3>

  <h3> Sort/Search Pairings </h3>

<%= render 'all_wines', comment: @wines %>



<%= link_to 'Home', home_url%>

<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>
