<%= render :partial => 'layouts/navbar' %>

<div class="container-fluid main_body_style">
  <div class="row">
    <div class="col-sm-3 ">
    </div><!--end column -->

   <div class="col-sm-3 ">
     <h3 class="text-success"> Add a New Wine</h3><br>
     <h4><%= render 'form', wine: @wine %></h4>
   </div><!--end column -->

   <div class="col-sm-3 ">
   </div><!--end column -->

 </div> <!--end row --><br><br>
</div><!--end container -->
